/**********************************************************************************************************/
/* Header */
/**********************************************************************************************************/
.sticky-header-area {
  position: sticky;
  background-color: #ffffff;
  top: 0;
}

.main-header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 14dvh;
  height: 14vh;
  padding: 5px;
  overflow: hidden;
  margin: auto;
}

.header-logo {
  object-fit: cover;
  height: 12dvh;
  height: 12vh;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.header-navbar {
  width: 79%;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.header-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header-navbar li {
  margin-left: 20px;
}

.header-navbar ul li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.header-navbar ul li a:hover {
  color: var(--color-orange-crayola);
}

.header-button-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.header-button-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 5px;
  margin-bottom: 5px;
  display: none;
}

.spikes {
  position: relative;
  background: #ffffff;
  margin-bottom: 20px;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  display: block;
  height: 20px;
  background-size: 20px 100%;
  background-image:
    linear-gradient(140deg, #ffffff 20%, var(--color-gray-paynes) 5%, transparent 25%),
    linear-gradient(220deg, #ffffff 20%, var(--color-gray-paynes) 5%, transparent 25%);
  background-position: 0 0;
}