.sidebar {
  position: fixed;
  width: 70%;
  height: 50%;
  top: 12dvh;
  top: 12vh;
  right: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--color-gray-paynes);
  background-color: rgb(255, 255, 255);
  padding: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar ul li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  padding-left: 10px;
}

.sidebar ul li a:hover {
  color: var(--color-orange-crayola);
}