.contactUsModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(87, 117, 144, 0.7);
  z-index: 2;
}

.contactUsModal-content {
  height: 650px;
  width: 500px;
  border-radius: 15px;
  background-color: var(--color-orange-bg);

  padding: 30px;
  border: solid var(--color-gray-paynes) 1px
}

.contactUsModal-content header {
  height: 10%;
}

.contactUsModal-content header h2 {
  color: var(--color-orange-crayola);
  font-family: RalewayR;
  font-weight: bold;
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.contactUsModal-content-data {
  height: 65%;
  overflow: hidden;
}

.contactUsModal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contactUsModal-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contactUsModal-field input {
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  border: solid var(--color-gray-paynes) 1px
}

.contactUsModal-field textarea {
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  height: 200px;
  padding: 10px;
  resize: none;
  border: solid var(--color-gray-paynes) 1px;
}

.contactUsModal-content-recaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  overflow: hidden;
}


.contactUsModal-content-footer {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  height: 10%;
  align-items: end;
  justify-content: space-around;
}