.contactUsModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(87, 117, 144, 0.9);
  z-index: 2;
}

.contactUsModal-content {
  height: 10 vh;
  height: 50 dvh;
  width: 20 vw;
  width: 20 dvw;
  border-radius: 15px;
  background-color: var(--color-orange-bg);
  box-shadow: 0px 0px 10px 3px #ffffff;
  padding: 15px;
}

.contactUsModal-content header h2 {
  color: var(--color-orange-crayola);
  font-family: RalewayR;
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: solid blue 2px;
}

.contactUsModal-content section form {
  height: 20vh;
  height: 30dvh;

}

.contactUsModal-content section form {
  display: flex;
  flex-direction: column;
  border: solid green 2px;
}

.contactUsModal-content footer {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -20%;
  height: 20%;
  border: solid red 3px
}