.home-container {
  display: flex;
  width: 95%;
}

.home-title-h1 {
  color: var(--color-orange-crayola);
  font-family: RalewayR;
  font-weight: bold;
  font-style: italic;
  font-size: 3.5em;
  margin-top: -20px;
}

.home-container img {
  border: double var(--color-gray-paynes) 10px;
  margin-right: 20px;
  height: 45dvh;
  height: 45vh;
  object-fit: cover;
}


.home-text {
  line-height: 1.7;
  font-weight: 600;
  text-align: justify;
}

.home-text p {
  font-size: 1.05em;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}