@media screen and (max-width: 1367px) {
  body {
    font-size: small;
  }

  @keyframes scaleLogo {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(0.50);
    }
  }

  .page-width {
    width: 90%;
  }

  .page-height {
    min-height: 70dvh;
    min-height: 70vh;
  }

  .button-m {
    width: 150px;
    height: 40px;
    font-size: small;
  }

  .header-logo {
    height: 10dvh;
    height: 10vh;
    margin-bottom: 0px;
  }

  .header-navbar {
    width: 70%;
    margin-bottom: 0px;
  }

  .header-navbar ul {
    justify-content: space-evenly;
  }

  .header-button-contact {
    width: 15%;
    margin-bottom: 0px;
  }

  .spikes {
    margin-bottom: 2dvh;
    margin-bottom: 2vh;
  }


  .spikes::after {
    height: 15px;
    background-size: 15px 100%;
  }

  .main {
    min-height: 79dvh;
    min-height: 79vh;
  }

  .container {
    padding: 0px;
    margin-top: 2dvh;
    margin-bottom: 2vh;
    padding-bottom: 4dvh;
    padding-bottom: 4vh;
    align-items: flex-end;
  }

  .container-title-home {
    position: relative;
    top: -10px;
    left: -120px;
    font-size: 2.4em;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .container-title {
    position: relative;
    font-size: 2.4em;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  /*******************************************************************************/
  /* Home */
  /*******************************************************************************/

  .home-container {
    width: 100%;
    align-items: flex-end;
  }

  .home-container img {
    border: double var(--color-gray-paynes) 5px;
    margin-right: 10px;
    height: 50dvh;
    height: 50vh;
  }

  .home-text {
    top: -10px;
    line-height: 1.3;
    font-weight: 600;
  }

  .home-text p {
    font-size: 0.85em;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
  }

  /*******************************************************************************/
  /* Tech List */
  /*******************************************************************************/
  .tech-container {
    width: 95%;
  }

  .tech-list {
    margin-top: 5px;
    gap: 0.75rem;
  }

  .tech-card {
    height: 4rem;
  }


  /*******************************************************************************/
  /* Footer */
  /*******************************************************************************/
  .footer {
    font-size: x-small;
  }

}


@media screen and (max-width: 381px) {
  body {
    font-size: small;
  }

  @keyframes scaleLogo {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(0.30);
    }
  }

  .page-width {
    width: 100%;
  }

  .page-height {
    min-height: 70dvh;
    min-height: 70vh;
  }

  .button-m {
    width: 150px;
    height: 40px;
    font-size: small;
  }

  .header-logo {
    height: 8dvh;
    height: 8vh;
    margin-bottom: 0px;
  }

  .header-navbar {
    display: none;
  }

  .header-button-contact {
    width: 55%;
    margin-bottom: 0px;
  }

  .header-button-hamburger {
    display: flex;
    width: 25%;
  }

  .spikes {
    margin-bottom: 1dvh;
    margin-bottom: 1vh;
  }

  .spikes::after {
    height: 15px;
    background-size: 15px 100%;
  }

  .main {
    min-height: 80dvh;
    min-height: 80vh;
  }

  .container {
    margin-top: 4dvh;
    margin-top: 4vh;
    margin-bottom: 4dvh;
    margin-bottom: 4vh;
  }

  .container-title {
    position: unset;
    font-size: 2.4em;
    text-align: center;
  }

  /*******************************************************************************/
  /* Home */
  /*******************************************************************************/

  .home-container {
    flex-direction: column;
    width: 100%;
  }

  .home-container img {
    height: 25dvh;
    height: 25vh;
  }

  .home-text {
    line-height: 1.7;
    font-weight: 600;
    text-align: justify;
  }

  .home-text p {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
  }

  /*******************************************************************************/
  /* Tech List */
  /*******************************************************************************/
  .tech-container {
    width: 100%;
  }

  .tech-list {
    margin-top: 5px;
    gap: 0.75rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .tech-card {
    height: 3.8rem;
  }

  /*******************************************************************************/
  /* Footer */
  /*******************************************************************************/

  .footer {
    font-size: x-small;
  }
}