@media screen and (max-width: 1367px) {
  body {
    font-size: small;
  }

  @keyframes scaleLogo {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(0.50);
    }
  }

  .page-width {
    width: 90%;
  }

  .button-m {
    width: 150px;
    height: 40px;
    font-size: small;
  }

  .header-logo {
    height: 10dvh;
    height: 10vh;
    margin-bottom: 0px;
  }

  .header-navbar {
    width: 70%;
    margin-bottom: 0px;
  }

  .header-navbar ul {
    justify-content: space-evenly;
  }

  .header-button-contact {
    width: 15%;
    margin-bottom: 0px;
  }


  .spikes::after {
    height: 15px;
    background-size: 15px 100%;
  }

  .footer {
    font-size: x-small;
  }

}


@media screen and (max-width: 381px) {
  body {
    font-size: small;
  }

  @keyframes scaleLogo {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(0.30);
    }
  }

  .page-width {
    width: 100%;
  }

  .button-m {
    width: 150px;
    height: 40px;
    font-size: small;
  }

  .header-logo {
    height: 8dvh;
    height: 8vh;
    margin-bottom: 0px;
  }

  .header-navbar {
    display: none;
  }

  .header-button-contact {
    width: 55%;
    margin-bottom: 0px;
  }

  .header-button-hamburger {
    display: flex;
    width: 25%;
  }


  .spikes::after {
    height: 15px;
    background-size: 15px 100%;
  }

  .footer {
    font-size: x-small;
  }
}