.services-container {
  width: 95%;
  min-height: 75dvh;
  min-height: 75vh;
}

.services-list {
  margin-top: 20px;
  border-radius: 5px;
  min-height: 63dvh;
  min-height: 63vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.services-card-title {
  display: inline;
  color: var(--color-orange-crayola);
  font-family: RalewayR;
  font-weight: bold;
  font-size: 1.5em;
}

.services-card {
  display: flex;
  width: 70%;
  height: 11rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--color-gray-paynes);
  padding-top: 5px;
  padding-bottom: 20px;
  justify-content: center;
}

.services-card:nth-child(odd) {
  margin-left: -300px;
}

.services-card:nth-child(even) {
  margin-left: 300px;
}

.services-card-detail {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}

.services-title-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.services-tittle-img {
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.services-card ul {
  list-style: none;
  margin-left: 60px;
}

.services-card ul li::before {
  content: "-";
  color: var(--color-orange-crayola);
  font-weight: bold;
  font-size: 1.25rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}