.tech-container {
  width: 95%;
  min-height: 65dvh;
  min-height: 65vh;
}

.tech-list {
  margin-top: 20px;
  border: solid var(--color-gray-paynes) 0.5px;
  border-radius: 5px;
  min-height: 63dvh;
  min-height: 63vh;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.tech-card {
  width: 100%;
  height: 18vh;
  border: solid red 1px;
  overflow: hidden;
}

.tech-card img {
  object-fit: cover;
}